@charset "utf-8";

/* CSS Document */
html { height: 100%; }
body{
	background-color:#fff;
	overflow:hidden;
	font-family: "微软雅黑";
	font-size:12px;
	margin: 0px;
	padding: 0px;
}

.bg_div{
	width:1280px;height:720px;position:absolute;top:50%;left:50%;margin-top:-360px;margin-left:-640px;
}

.foot_div{
	position:absolute;bottom:0px;width:100%;height:36px;text-align:center;line-height:36px;background:url(../images/foot_bg.jpg) no-repeat;
}

.bg{background:url(../images/bg.jpg) no-repeat center center;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size:100% 100%; background-size:100% 100%;
}

.title_logo{
	background:url(../images/login.png) no-repeat;
	background-position:0px 0px;
	width:425px;
	height:62px;
	position:relative;
	top:0px;
}

.login_input{
	background:url(../images/login.png) no-repeat;
	background-position:0px -83px;
	width:320px;
	height:90px;
	position:relative;
	top:190px;
	left: 400px;
}

.login_btn{
	background:url(../images/login_n.png) no-repeat;
	background-position:-200px -99px;
	width:320px;
	height:40px;
	position:relative;
	top:200px;
	left:618px;
}
  